@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

ul li {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    color: #f9faf8
}

.nav-link {
    font-size: 18px;
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text {
    font-size: 18px;
    color:#e5e7eb;
}

.image {
    background-color: gray;
    height: 300px;
    width: 900px;
}

.signup-button {
    background-color: #3882f6;
    margin-left: auto;
    padding: 6px 24px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px
}