@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

ul li {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    margin: 30px auto;
}

.nav-link {
    font-size: 18px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin: 30px auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    padding-right: 60px;
}

.hero-text {
    font-size: 18px;
    color:#e5e7eb;
    padding-right: 60px;
}

.image {
    background-color: gray;
    height: 300px;
    width: 700px;
}

.signup-button {
    background-color: #3882f6;
    padding: 6px 24px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto
}

.signup-button:hover {
    background-color: #1f2937;
    border: 1px solid #f9faf8;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-hero {
    align-items: flex-start;
}

.square {
    border-radius: 16px;
    border: 2px solid #3882f6;
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: 0 auto 16px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin: 50px 0;
}

.info {
    max-width: 300px;
    text-align: center;
}

.wrapper-info {
    padding: 0 50px;
}

.info-section {
    text-align: center;
    padding: 50px;
}

.text {
    margin-bottom: 30px;
}

.quote-section {
    background-color: #e5e7eb;
}

.wrapper-quote {
    flex-direction: column;
    max-width: 800px;
}

.quote {
    margin-top: 80px;
    padding: auto;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: left;
}

.author {
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    margin: 20px 20px 80px 0;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: #3882f6;
    min-width: 940px;
    padding: 50px 0;
    border-radius: 6px;
    margin: 80px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 52px;
}

.cta-header {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 900;
}

.cta-subtext {
    color: #f9faf8;
    font-size: 14px;
    margin-top: 3px;
}

.signup-blue {
    background-color: #3882f6;
    padding: 6px 24px;
    border: 1px solid #f9faf8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.signup-blue:hover {
    background-color: #1f2937;
}

footer {
    background-color:  #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 30px 0;
}
