@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 1200px;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 70px;
    width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.square {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.links {
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar {
    display: flex;
    align-items: center;
}
